<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/">홈으로</a>
    <h3> 아이디 찾기 </h3>
    <form action="/member/findId" method="get">
        이름 : <input type="text" name="mname"> </br>
        전화번호 : <input type="text" name="mphone">  </br>
        <button type="submit"> 찾기 </button>
     </form>



    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member.js"  type="text/javascript"></script>
</div>
</body>
</html>